<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="hero"></div>
    <div class="container">
      <nav>
      <h1><i class="icon-tools"></i>Spare Parts</h1>
        <% data.snippets.each do |category| %>
          <h2><%= category[:category] %></h2>
          <% category[:snippets].each do |snippet| %>
            <%= link_to snippet[:title], "##{anchor_from_title snippet[:title]}" %>
          <% end %>
        <% end %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
