---
title: Spare-Parts
---

<div class="main-content-container">

  <% data.snippets.each do |category| %>

    <h2><%= category[:category] %></h2>
    <div class="item-container">
      <% category[:snippets].each do |snippet| %>
        <header>
          <h3 id="<%= anchor_from_title snippet[:title] %>"><%= snippet[:title] %></h3>
          <style><%= wrap_css_with_class(snippet[:css], anchor_from_title(snippet[:title])) %></style>
          <div class="item-links">
            <p>Requires</p>
            <button>Bourbon</button>
            <button>Jquery</button>
            <button class="external-link">Source</button>
          </div>
        </header>
        <div class="example <%= anchor_from_title(snippet[:title]) %>"><%= snippet[:html] %></div>
        <div class="accordion" id="accordion1">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#<%= anchor_from_title snippet[:title] %>_accordion">
                <small>Code <i class="icon-right-circled"></i></small>
                <% if snippet[:jquery] %>
                  <span>JQuery</span>
                <% end %>
                <% if snippet[:bourbon] %>
                  <span>Bourbon</span>
                <% end %>
              </a>
            </div>
            <div id="<%= anchor_from_title snippet[:title] %>_accordion" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="code-section">
                  <header>
                    <h4>HTML</h4>
                    <button class="copy" data-clipboard-target="<%= anchor_from_title snippet[:title] %>_html">copy</button>
                  </header>
                  <code id="<%= anchor_from_title snippet[:title] %>_html">
                    <%= Pygments.highlight(snippet[:html]) %>
                  </code>
                </div>

                <div class="code-section">
                  <header>
                    <h4>CSS</h4>
                    <button class="copy" data-clipboard-target="<%= anchor_from_title snippet[:title] %>_css">copy</button>
                  </header>
                  <code id="<%= anchor_from_title snippet[:title] %>_css">
                    <%= Pygments.highlight(snippet[:css]) %>
                  </code>
                </div>

                <div class="code-section">
                  <header>
                    <h4>Javascript</h4>
                    <button class="copy" data-clipboard-target="<%= anchor_from_title snippet[:title] %>_js">copy</button>
                  </header>
                  <code id="<%= anchor_from_title snippet[:title] %>_js">
                    <%= Pygments.highlight(snippet[:js]) %>
                  </code>
                </div>

              </div>
            </div>
          </div>
          <script><%= snippet[:js] %></script>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  ZeroClipboard.setDefaults({moviePath: 'images/ZeroClipboard.swf'});
  var clip = new ZeroClipboard();
  clip.glue($('.copy'));
</script>
